<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <title>Yaku</title>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
  </head>
  <body data-spy="scroll" data-target="#navbar" data-offset="57">

    <!--Header-->
    
        <header>          
            <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">  
                    <a class="navbar-brand" href="#">
                        <img src="assets/images/yaku-logo.png" style="width: 40px;" alt="Logo de platzi">
                        Yaku
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                        <a class="nav-link" href="#hero">Inicio<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#speakers">Piscinas cercanas</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#place-time">App</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#conviertete-en-orador">Contacto</a>
                        </li>                    
                        <li class="nav-item">
                        <a class="nav-link text-platzi" data-toggle="modal" data-target="#modalCompra">Iniciar sesión</a>
                        </li>                    
                    </ul>
                    </div>
                </div>
            </nav>
        </header>
    <!--/header-->


    <!--hero-->
        <section class="hero">
            <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="assets/images/piscina1.jpg" alt="Hawaii1">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/images/piscina2.jpg" alt="Hawaii2">
                    </div>
                    <!-- <div class="carousel-item">
                        <img class="d-block w-100" src="assets/images/piscina3.jpg" alt="Hawaii3">
                    </div> -->
                    <div class="overlay">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6 offset-md-6 text-center text-md-right">
                                    <h1>Yaku</h1>
                                    <p class="d-none d-md-block">
                                        Brinda una solución tecnológica, para detectar el nivel de contaminacion del agua de las piscinas en tiempo real.
                                    </p>
                                    <a href="#conviertete-en-orador" class="btn btn-outline-light">Contacto</a>
                                    <button type="button" class="btn btn-platzi" data-toggle="modal" data-target="#modalCompra">Iniciar sesión</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                 
            </div>
        </section>
    <!--/hero-->

    <!--speakers-->
        <section id="speakers" class="mt-4">
            <div class="container">
                <div class="row">
                    <div class="col text-center text-uppercase">
                        <small>Conoce las</small>
                        <h1>Piscinas cercanas</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <img src="assets/images/piscina3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <div class="badges">
                                    <!-- <span class="badge badge-warning">javasript</span> -->
                                    <span class="badge badge-info">Saludable</span>
                              </div>
                              <h5 class="card-title">Piscina Don Yuri</h5>
                              <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                              <a href="#" class="btn btn-primary">Deja un comentario</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <img src="assets/images/piscina3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <div class="badges">
                                    <span class="badge badge-danger">No saludable</span>
                              </div>
                              <h5 class="card-title">Piscina El Paraiso del Oeste</h5>
                              <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                              <a href="#" class="btn btn-primary">Deja un comentario</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <img src="assets/images/piscina3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <div class="badges">
                                <span class="badge badge-danger">No Saludable</span>
                              </div>
                              <h5 class="card-title">Piscina Vander</h5>
                              <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                              <a href="#" class="btn btn-primary">Deja un comentario</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <img src="assets/images/piscina3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <div class="badges">
                                    <span class="badge badge-danger">No Saludable</span>
                              </div>
                              <h5 class="card-title">Piscina Don Pepe</h5>
                              <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                              <a href="#" class="btn btn-primary">Deja un comentario</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <img src="assets/images/piscina3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <div class="badges">
                                    <span class="badge badge-danger">No saludable</span>
                              </div>
                              <h5 class="card-title">Piscina Don Lucho</h5>
                              <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                              <a href="#" class="btn btn-primary">Deja un comentario</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <img src="assets/images/piscina3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <div class="badges">
                                <span class="badge badge-info">Saludable</span>
                              </div>
                              <h5 class="card-title">Piscina Regatas</h5>
                              <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                              <a href="#" class="btn btn-primary">Deja un comentario</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>
    <!--/speakers-->


    <!--lugar y fecha-->

        <section id="place-time">
            <div class="conteiner-fluid">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <img src="assets/images/ykululu.jpg" alt="honolulu">
                    </div>
                    <div class="col-12 col-md-6 col pt-4 pb-4 align-self-center">
                        <h2>
                            Finalidad de Yaku
                        </h2>
                        <p>
                            Contribuir a prevenir y controlar los diferentes factores de riesgo sanitario que se
                            presentan en las piscinas públicas y privadas de uso colectivo que ponen en
                            riesgo la salud de los usuarios.
                        </p>
                        <a href="https://play.google.com/store?hl=es&gl=US" class="btn btn-outline-light">Disponible en Play Store</a>
                    </div>
                </div>
            </div>
            <div class="conteiner-fluid">
                <div class="row">
                    <div class="col-12">
                        <img src="assets/images/ykululu2.jpg" alt="honolulu">
                    </div>
                </div>
            </div>
        </section>
    <!--/lugar y fecha-->


    <!--conviertete en orador-->
        <section id="conviertete-en-orador" class="pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <small class="text-uppercase">·</small>
                        <h2>Contáctanos</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col text-center">
                        Anótate como orador para dar una <abbr data-toggle="tooltip" title="Charla de 5 minutos">charla ignite</abbr>.
                        Cuéntanos de que quieres hablar!
                    </div> -->
                </div>
                <div class="row">
                    <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2">
                        <form>
                            <div class="form-row">
                              <div class="form-group col-12 col-md-6">
                                <input type="text" class="form-control" placeholder="Nombre">
                              </div>
                              <div class="form-group col-12 col-md-6">
                                <input type="text" class="form-control" placeholder="Apellido">
                              </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <textarea name="text" class="form-control form-control-lg" placeholder="Cuéntanos tu experiencia"></textarea>
                                    <small class="form-text text-muted">
                                        No temas escríbirnos, estamos felices de ayudarte.
                                    </small>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <button type="button" class="btn btn-platzi btn-block">Envíar</button>
                                </div>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </section>

    <!--/conviertete en orador-->



    
    <!--footer-->

      <footer id="footer" class="pb-4 pt-4">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-lg">
                    <a href="#">Preguntas frecuentes</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Contáctanos</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Reportes</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Términos y condiciones</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Privacidad</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Consultas</a>
                </div>
            </div>
        </div>
      </footer>
<!---modal--->

  <div class="modal fade" id="modalCompra" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Iniciar sesión</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-row">
                    <div class="form-group col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </form>
            <div class="alert alert-success" role="alert">
                Escribe tu usuario y contraseña adecuadamente
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-platzi">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
<!---modal--->


      <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="index.js"></script>
  </body>
</html>
